package ${packageName}.domain.dto;

import lombok.Data;




@Data
public class ${className}DTO  {


    private ${primaryKeyType} id;

    #foreach($field in $fields)
    #if($field.fieldName != "id" &&$field.fieldName != "createdAt" && $field.fieldName != "updatedAt" && $field.fieldName != "createdBy" && $field.fieldName != "updatedBy")

    private ${field.javaType} ${field.fieldName};
    #end
    #end
}

