package ${packageName}.domain.vo;

import lombok.Data;




@Data
public class ${className}VO  {


    private ${primaryKeyType} id;

    #foreach($field in $fields)
     #if($field.fieldName != "id" &&$field.fieldName != "createdAt" && $field.fieldName != "updatedAt" && $field.fieldName != "createdBy" && $field.fieldName != "updatedBy")
    private ${field.javaType} ${field.fieldName};
    #end
    #end
}

